<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/thanh-toan.css">
</head>
<div th:replace="boostrap/bootrap::boot"></div>
<body>
<div class="container">
    <header>
        <div th:replace="layout/navbar::nav"></div>
    </header>
    <aside>
        <table>
            <tr>
                <th>STT</th>
                <th>Ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Đơn giá</th>
                <th>Số Lượng</th>
                <th>Thành tiền</th>
            </tr>
            <th:tbody th:each="cart , itrStat : ${carts}">
                <tr>
                    <td th:text="${itrStat.index + 1}"></td>
                    <td><img th:src="${cart.product.img}" style="width: 250px" alt="..."/></td>
                    <td><p th:text="${cart.product.name}"><p th:text=" ${cart.color.name}"><p th:text="${ cart.size.name}"></p></p></p></td>
                    <td th:text="${cart.product.price}"></td>
                    <td th:text="${cart.quantityValueCookie}"></td>
                    <td th:text="${cart.thanhTien}" th:value="${cart.thanhTien}" name="thanhTien"></td>
                </tr>
            </th:tbody>
        </table>
        <div>
            <p id="tongTien">Tổng tiền : </p>
        </div>
    </aside>
    <section>
        <article>
            <form th:object="${invoiceModel}" th:action="@{/dat-hang}" method="post" class="w-50">
                <div class="mb-3">
                    <label  class="form-label">Họ tên người nhận hàng</label>
                    <input type="text" class="form-control"  aria-describedby="emailHelp" name="fullName">
                    <p th:if="${#fields.hasErrors('fullName')}" th:errorsclass="error" th:errors="${fullName}"></p>
                </div>
                <div class="mb-3">
                    <label  class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control"  name="phoneNumber">
                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errorsclass="error" th:errors="${phoneNumber}">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Địa chỉ</label>
                    <textarea type="text" class="form-control" name="address"></textarea>
                    <p th:if="${#fields.hasErrors('address')}" th:errorsclass="error" th:errors="${address}">
                </div>
                <button type="submit" class="btn btn-primary">Đặt hàng</button>
            </form>
        </article>
    </section>

    <footer>
        <div th:replace="layout/footer::footer"></div>
    </footer>
</div>
<script src="/js/thanh-tien.js">
</script>
</body>
</html>